{% extends "base.html" %}

{% block content %}
<main>
    <section class="form-container">
        <form method="POST" action="{% url 'change-password' user.id %}" class="change-password-form">
            <h1>Change password</h1>
            {% csrf_token %}
            <fieldset class="input-wrapper">
                <label for="current_password">Current password</label>
                <input type="password"  name="current_password" class="login-form-item">
            </fieldset>
            <fieldset class="input-wrapper">
            <label for="new_password1">New password</label>
            <input type="password" name="new_password1" class="login-form-item">
            </fieldset>
            <fieldset class="input-wrapper">
            <label for="new_password2">New password again</label>
            <input type="password" name="new_password2" class="login-form-item">
            </fieldset>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </section>
</main>
{% endblock %}